@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
/* Reset and base styles */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
input:focus, input:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
select:focus,
select:active {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin-top: 32px;
  margin-bottom: 32px;
}
.header__web {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header__link {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header__studio {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header__navigation {
  margin-right: 373px;
}
.header__list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.header__links {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  position: relative;
  padding: 43px 5px;
}
.header__links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  opacity: 0;
  transform: translateX(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.header__links:hover::after {
  opacity: 1;
  transform: translateX(1);
}
.header__links:hover {
  color: #2196f3;
}
.info-header__list {
  display: flex;
  justify-content: end;
  gap: 50px;
}
.info-header__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.info-header__item:hover {
  color: #2196f3;
  fill: #2196f3;
}
.info-header__item:hover .info-header__link {
  color: #2196f3;
}
.info-header__item:hover .info-header__svg {
  fill: #2196f3;
}
.info-header__line {
  margin-bottom: 95px;
  width: 1440px;
  height: 0.5px;
  background-color: #FFFFFF;
}
.info-header__svg {
  width: 20px;
  height: 20px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.info-header__link {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.footer {
  width: 100%;
  background: #2f303a;
}
.footer__container {
  /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
  height: 252px;
  flex-shrink: 0;
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
}
.footer__left {
  display: flex;
}
.footer__webstudio {
  margin-top: 60px;
  margin-bottom: 20px;
}
.footer__link {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__studio {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__title {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-bottom: 10px;
}
.footer__links {
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  gap: 10px;
}
.footer__center {
  margin-left: 85px;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}
.footer__titles {
  margin-bottom: 32px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__lists {
  display: flex;
  gap: 5px;
}
.footer__items {
  fill: #ffffff;
}
.footer__linkss {
  padding: 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.footer__linkss:hover {
  border-radius: 20px;
  background-color: #2196f3;
}
.footer__linkss:hover .footer__use {
  fill: #ffffff;
}
.footer__svg {
  width: 20px;
  height: 20px;
}
.footer__use {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  fill: #afb1b8;
}
.footer__use:hover {
  fill: #ffffff;
}
.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-left: 60px;
}

.right-footer__text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.right-footer__togehter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.right-footer__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
.right-footer__button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  padding: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.right-footer__button:hover {
  background-color: #757575;
  cursor: pointer;
}
.right-footer__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-left: 15px;
}
.right-footer__svg {
  margin-left: 10px;
}
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.modal .modal__backdrop,
.modal .modal__ishidden {
  opacity: 0;
  pointer-events: none;
}
.modal__mod {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 585px;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.modal__times {
  display: flex;
  justify-content: end;
  margin-right: 5px;
  margin-top: 5px;
}
.modal__close {
  border: 1px solid #afb1b8;
  border-radius: 100%;
  color: #afb1b8;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
}
.modal__close:hover .modal__use {
  fill: #2196f3;
  cursor: pointer;
}
.modal__svg {
  width: 30px;
  height: 30px;
  padding: 10px;
  fill: #000;
}
.modal__use {
  fill: black;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.modal__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.backdrop-modal__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #212121;
}
.backdrop-modal__text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
}
.backdrop-modal__input {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding: 10px 10px 10px 35px;
}
.backdrop-modal__input::-moz-placeholder {
  padding-left: 30px;
}
.backdrop-modal__input::placeholder {
  padding-left: 30px;
}
.backdrop-modal__one {
  background: url("../img/person-black-18dp 1.svg#person-black") no-repeat;
  background-position: 10px;
}
.backdrop-modal__two {
  background: url("../img/phone-black-18dp 1.svg#phone-black") no-repeat;
  background-position: 10px;
}
.backdrop-modal__three {
  background: url("../img/Vector.svg#vector") no-repeat;
  background-position: 10px;
}
.backdrop-modal__textarea {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 10px;
}

.modal__terms {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.modal__button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.modal__button:hover {
  background-color: #757575;
  cursor: pointer;
}

.terms-modal__form {
  margin-right: 5px;
}
.terms-modal__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.terms-modal__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
}

.no-scroll {
  overflow: hidden;
}

.home__gallary {
  margin-bottom: 94px;
  background-image: url(../img/Img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.home__gallary::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(47, 48, 58, 0.40); */
}
.home__details {
  margin-bottom: 95px;
}
.gallary-home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1600px;
  height: 600px;
  flex-shrink: 0;
}
.gallary-home__title {
  margin-top: 200px;
  margin-bottom: 40px;
  width: 696px;
  color: #FFFFFF;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.gallary-home__button {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, animation 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  animation: changeBackroundcolor 2000ms linear 0ms infinite normal;
}
.gallary-home__button:hover {
  background-color: #757575;
  cursor: pointer;
  animation: none;
}
@keyframes changeBackroundcolor {
  0% {
    background-color: #188ce8;
  }
  50% {
    background-color: #117fd8;
  }
  75% {
    background-color: #0c6fc0;
  }
  100% {
    background-color: #188ce8;
  }
}

.details-home {
  width: 100%;
}
.details-home__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.details-home__item {
  flex: 1 1 calc((100% - 60px) / 3);
}
.details-home__background {
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding: 25px;
}
.details-home__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
.details-home__title {
  width: 270px;
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.details-home__text {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.work-home {
  margin-bottom: 95px;
}
.work-home__title {
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.work-home__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.work-home__item {
  position: relative;
  overflow: hidden;
  flex: 1 1 calc((100% - 90px) / 2);
}
.work-home__item:hover .work-home__submenu {
  opacity: 1;
  transform: translateY(0);
}
.work-home__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 294px;
  flex-shrink: 0;
}
.work-home__submenu {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.work-home__text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team-home {
  width: 100%;
  background-color: #f5f4fa;
}
.team-home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 648px;
  flex-shrink: 0;
  background-color: #f5f4fa;
}
.team-home__name {
  margin-top: 95px;
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.team-home__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team-home__item {
  flex: 1 1 calc((100% - 120px) / 3);
}
.team-home__peoples {
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-home__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 270px;
  height: 260px;
  flex-shrink: 0;
}
.team-home__peopl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-home__people {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-home__mission {
  margin-bottom: 30px;
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.team-home__lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.team-home__link {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.team-home__link:hover {
  border-radius: 20px;
  background-color: #2196f3;
}
.team-home__link:hover.team-home__use {
  fill: #ffffff;
}
.team-home__svg {
  width: 20px;
  height: 20px;
}
.team-home__use {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  fill: #afb1b8;
}
.team-home__use:hover {
  fill: #ffffff;
}

.customers-home__container {
  margin-top: 95px;
  margin-bottom: 95px;
}
.customers-home__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.customers-home__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.customers-home__item {
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  padding: 15px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.customers-home__item:hover {
  border: 1px solid #2196f3;
}
.customers-home__item:hover .customers-home__use {
  fill: #2196f3;
}
.customers-home__svg {
  width: 106px;
  height: 60px;
  flex-shrink: 0;
  /* fill: #AFB1B8; 
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
}
.customers-home__use {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  fill: #afb1b8;
}
.customers-home__use:hover {
  fill: #2196f3;
}

.buttons-home {
  margin-bottom: 50px;
}

.buttons-home__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.buttons-home__button {
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.buttons-home__button:hover {
  background-color: #2196f3;
  color: #FFFFFF;
}

.portfolio-home {
  margin-bottom: 95px;
}
.portfolio-home__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-home__item {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.portfolio-home__item:hover .portfolio-home__overlay {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-home__item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
}
.portfolio-home__pictures {
  flex-shrink: 0;
  border: 1px solid #eee;
  background: #FFFFFF;
}
.portfolio-home__wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-home__img {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}
.portfolio-home__overlay {
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  z-index: 1;
}
.portfolio-home__texts {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}
.portfolio-home__picturest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  margin-bottom: 20px;
  z-index: -1;
}
.portfolio-home__title {
  margin-top: 20px;
  width: 322px;
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
}
.portfolio-home__text {
  width: 322px;
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}