@import "../base/variables.scss";
@import "../utils/mixins.scss";
@import "../utils/placeholders.scss";

.modal {
    // .modal__backdrop
  
    &__backdrop {
        display: block;
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        &.is-hidden {
            opacity: 0;
            pointer-events: none;
            display: none;
          }
    }
  
    // .modal__ishidden
  
    &__ishidden {
    }
  
    // .modal__mod
  
    &__mod {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 530px;
      height: 585px;
      background-color: #fff;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  
    // .modal__times
  
    &__times {
      display: flex;
      justify-content: end;
      margin-right: 5px;
      margin-top: 5px;
    }
  
    // .modal__close
  
    &__close {
      border: 1px solid #afb1b8;
      border-radius: 100%;
      color: #afb1b8;
      stroke-width: 1px;
      stroke: rgba(0, 0, 0, 0.1);
  
      &:hover .modal__use {
        fill: #2196f3;
        cursor: pointer;
      }
    }
  
    // .modal__svg
  
    &__svg {
      width: 30px;
      height: 30px;
      padding: 10px;
      fill: #000;
    }
  
    // .modal__use
  
    &__use {
      fill: #000;
      stroke-width: 1px;
      stroke: rgba(0, 0, 0, 0.1);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  
    // .modal__center
  
    &__center {
      @include flexble();
      flex-direction: column;
      margin-top: 30px;
    }
  }
  .backdrop-modal {
    // .backdrop-modal__title
  
    &__title {
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.03em;
      color: #212121;
    }
  
    // .backdrop-modal__list
  
    &__list {
    }
  
    // .backdrop-modal__item
  
    &__item {
    }
  
    // .backdrop-modal__text
  
    &__text {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.01em;
      color: #757575;
      margin-top: 10px;
    }
  
    // .backdrop-modal__contacts
  
    &__contacts {
    }
  
    // .backdrop-modal__input
  
    &__input {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.01em;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      width: 448px;
      height: 40px;
      padding: 10px 10px 10px 35px;
  
      &::placeholder {
        padding-left: 30px;
      }
    }
  
    // .backdrop-modal__one
  
    &__one {
      background: url("../img/person-black-18dp 1.svg#person-black") no-repeat;
      background-position: 10px;
    }
  
    // .backdrop-modal__two
  
    &__two {
      background: url("../img/phone-black-18dp 1.svg#phone-black") no-repeat;
      background-position: 10px;
    }
  
    // .backdrop-modal__three
  
    &__three {
      background: url("../img/Vector.svg#vector") no-repeat;
      background-position: 10px;
    }
  
    // .backdrop-modal__textarea
  
    &__textarea {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.01em;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      width: 448px;
      height: 120px;
      padding: 10px;
    }
  }
  .modal {
    // .modal__terms
  
    &__terms {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
    }
  
    // .modal__button
  
    &__button {
      border-radius: 4px;
      width: 200px;
      height: 50px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background-color: #188ce8;
      font-family: $mainFontFamily;
      font-weight: 700;
      font-size: 16px;
      line-height: 187%;
      letter-spacing: 0.06em;
      text-align: center;
      color: #fff;
      margin-top: 30px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  
      &:hover {
        background-color: $mainGrey;
        cursor: pointer;
      }
    }
  }
  .terms-modal {
    // .terms-modal__form
  
    &__form {
      margin-right: 5px;
    }
  
    // .terms-modal__text
  
    &__text {
      font-family: $mainFontFamily;
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.03em;
      color: #757575;
    }
  
    // .terms-modal__link
  
    &__link {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #2196f3;
    }
  }
  
  .no-scroll {
    overflow: hidden;
  }