@import "../base/variables.scss";

.header {
  margin-top: 32px;
  margin-bottom: 32px;

  // .header__container

  &__container {
  }

  // .header__web

  &__web {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  // .header__logotip

  &__logotip {
  }

  // .header__link

  &__link {
    color: $mainBlue;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }

  // .header__studio

  &__studio {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }

  // .header__navigation

  &__navigation {
    margin-right: 373px;
  }

  // .header__list

  &__list {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  // .header__item

  &__item {
  }

  // .header__links

  &__links {
    color: $mainBlack;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    position: relative;
    padding: 43px 5px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 5px;
      background-color: #2196f3;
      opacity: 0;
      transform: translateX(0);
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &:hover::after {
      opacity: 1;
      transform: translateX(1);
    }

    &:hover {
      color: #2196f3;
    }
  }

  // .header__info

  &__info {
  }
}

.info {
  // .info-header

  &-header {
  }
}
.info-header {
  // .info-header__list

  &__list {
    display: flex;
    justify-content: end;
    gap: 50px;
  }

  // .info-header__item

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
      color: #2196f3;
      fill: #2196f3;
    }

    &:hover .info-header__link {
      color: #2196f3;
    }

    &:hover .info-header__svg {
      fill: #2196f3;
    }
  }

  // .info-header__line

  &__line {
    margin-bottom: 95px;
    width: 1440px;
    height: 0.5px;
    background-color: $mainWeiht;
  }

  // .info-header__svg

  &__svg {
    width: 20px;
    height: 20px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  // .info-header__use

  &__use {
  }

  // .info-header__link

  &__link {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;


  }
}
